/*Custom CSS from Asmita Pandey*/
#exhibitorBanner{
	min-height: 600px;
}
	.layered-image {
		position: relative;
	}
	.layered-image img {
	/*height: 200px;
	width: 300px;*/
}
.image-overlay {
	position: absolute;
	top: 0px;
	height: 582px;
	/*width: 1200px;*/
	left: 0px;
	opacity: 1
}
.image-base{
	background-repeat: no-repeat;
	padding: 8% 16% 0 15%;
	height: 515px;
	width: 1200px;
	background-size: contain;
}
.image-exhibitor{
	margin-top: 2% !important;
	left: 10em;
	position: absolute !important;
	z-index: 10;

}
.fr-view img {
		position:absolute !important; 
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
#exhibitorBanner{
	min-height: 500px;
}
.detail-swap {
    height: 360px;
}
.image-overlay {
	position: absolute;
	top: 0px;
	height: 420px;
	left: 0px;
	opacity: 1
}
.image-base{
	background-repeat: no-repeat;
	padding: 8% 16% 0 15%;
	height: 380px;
	/*width: 850px;*/
	background-size: contain;
}

.image-exhibitor{
		max-height:20px !important;
		left: 3em;
		margin-top:2% !important;    
	}
	.about-cat-sec{
		margin-top: 180px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

@media only screen and (max-width: 481px) and (max-width: 600px){
#exhibitorBanner{
	min-height: 250px;
}
.detail-swap {
    height: 260px;
}
.image-overlay {
	position: absolute;
    top: 0px;
    height: 220px;
    width: 100%;
    left: 0px;
    opacity: 1;
}
.image-base{
	background-repeat: no-repeat;
    padding: 8% 16% 0 15%;
    height: 200px;
    width: 100%;
    background-size: contain;
}
.image-exhibitor {
		max-height:25px !important;
		left: 4em;
		margin-top:2% !important;
	}
	.about-cat-sec{
		margin-top: 180px;
	}
	.cat-title{
		color: #0689a3;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
	.fr-view img
	{
		height: auto;
	}

	.image-exhibitor{
	 	max-height:35px !important;
		left: 10em;
		margin-top:2% !important; 
	}
	.about-cat-sec{
		margin-top: 370px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

/* For 1024 Resolution */  
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.image-overlay {
	position: absolute;
	top: 0px;
	height: 420px;
	width: 100%;
	left: 0px;
	opacity: 1
}
.image-base{
	background-repeat: no-repeat;
	padding: 8% 16% 0 15%;
	height: 380px;
	width: 100%;
	background-size: contain;
}
.image-exhibitor {
		height:40px !important;
		left: 10em;
		margin-top:3% !important; 
	}
	.about-cat-sec{
		margin-top: 430px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}  

/* For 1366 Resolution */  
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.image-exhibitor {
		height:60px !important;
		left: 10em;
		margin-top:2% !important; 
	}
	.about-cat-sec{
		margin-top: 600px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) { 
 .image-exhibitor {
		height:60px !important;
		left: 10em;
		margin-top:2% !important; 
	}
	.about-cat-sec{
		margin-top: 440px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
} 

@media only screen and (min-width: 1620px) and (max-width: 2048px) {
	.image-exhibitor{
		height:60px !important;
		left: 10em;
		margin-top:2% !important; 
	}
	.about-cat-sec{
		margin-top: 430px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

@media only screen and  (min-width: 2049px) and (max-width: 3840px) {
/*For 4K Displays (Ultra HD)*/
	.image-exhibitor{
		height:60px !important;
		left: 10em;
		margin-top:2% !important; 
	}
	.about-cat-sec{
		margin-top: 430px !important;
	}
	.cat-title{
		color: #0689a3 !important;
	}
	.quotes_box{
		padding-left: 0px !important;
	}
}

/*@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
	.image-exhibitor{
		height:60px !important;
		left: 10em;
		margin-top:2% !important; 
}
}*/

/*
@media screen and (max-width: 600px) {
	.image-exhibitor{
		height:20px !important;
	width:100%;
		left: 5em;
		margin-top:1% !important;        
}
}*/